.btnCategories {
    background: white;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 40%;
    border-radius: .6rem;


    @media screen and (max-width: 768px) {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        flex-wrap: wrap;
        width: 100%;
        padding: .3rem;
    }

    .btn {
        padding: .6rem;

        &:hover {
            color: black;
        }

        @media screen and (max-width: 768px) {
            padding: 1rem;

        }
    }

}
.btnDark {
    background: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 40%;
    border-radius: .6rem;


    @media screen and (max-width: 768px) {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        flex-wrap: wrap;
        width: 100%;
        padding: .3rem;
    }

    .btn {
        padding: .6rem;
        color: white;

        &:hover {
            color: white;
        }

        @media screen and (max-width: 768px) {
            padding: 1rem;

        }
    }

}